<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>举例子</string>
		<key>fileName</key>
		<string>yuki_dazhaohu</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c5d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>惊吓</string>
		<key>fileName</key>
		<string>yuki_jingxia</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc9460</string>
	</dict>
	<dict>
		<key>name</key>
		<string>对不起</string>
		<key>fileName</key>
		<string>yuki_duibuqi</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c57</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生气</string>
		<key>fileName</key>
		<string>yuki_shengqi</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc9474</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不开心</string>
		<key>fileName</key>
		<string>yuki_bukaixin</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c51</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大哭</string>
		<key>fileName</key>
		<string>yuki_daku</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c63</string>
	</dict>
	<dict>
		<key>name</key>
		<string>好棒</string>
		<key>fileName</key>
		<string>yuki_haobang</string>
		<key>fileId</key>
		<string>55b5ab9924acee5607dc8ca5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无语</string>
		<key>fileName</key>
		<string>yuki_wuyu</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc946a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拜托嘛</string>
		<key>fileName</key>
		<string>yuki_baituoma</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c4b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羞涩</string>
		<key>fileName</key>
		<string>yuki_xiuse</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc94c1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>么么哒</string>
		<key>fileName</key>
		<string>yuki_memeda</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc9456</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大笑</string>
		<key>fileName</key>
		<string>yuki_daxiao</string>
		<key>fileId</key>
		<string>55b5ab9824acee5607dc8c69</string>
	</dict>
	<dict>
		<key>name</key>
		<string>疑惑</string>
		<key>fileName</key>
		<string>yuki_yihuo</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc94d7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>犯困</string>
		<key>fileName</key>
		<string>yuki_fankun</string>
		<key>fileId</key>
		<string>55b5ab9924acee5607dc8cab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>庆祝</string>
		<key>fileName</key>
		<string>yuki_qingzhu</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc9488</string>
	</dict>
	<dict>
		<key>name</key>
		<string>好吃</string>
		<key>fileName</key>
		<string>yuki_haochi</string>
		<key>fileId</key>
		<string>55b5abb524acee5607dc945e</string>
	</dict>
</array>
</plist>
