<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>沉迷工作</string>
		<key>fileName</key>
		<string>xiaoluo_hi</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304ed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>好厉害</string>
		<key>fileName</key>
		<string>xiaoluo_feiwen</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304ef</string>
	</dict>
	<dict>
		<key>name</key>
		<string>继续努力</string>
		<key>fileName</key>
		<string>xiaoluo_xianhua</string>
		<key>fileId</key>
		<string>53faaa9724ac5a01da030fd0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>紧急集合</string>
		<key>fileName</key>
		<string>xiaoluo_woshou</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fca</string>
	</dict>
	<dict>
		<key>name</key>
		<string>开会中</string>
		<key>fileName</key>
		<string>xiaoluo_se</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>来聊聊</string>
		<key>fileName</key>
		<string>xiaoluo_sahua</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fcc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>没问题</string>
		<key>fileName</key>
		<string>xiaoluo_paomeiyan</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>使命必达</string>
		<key>fileName</key>
		<string>xiaoluo_paishou</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>谢谢</string>
		<key>fileName</key>
		<string>xiaoluo_niupigu</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>辛苦啦</string>
		<key>fileName</key>
		<string>xiaoluo_maimeng</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邮件发送</string>
		<key>fileName</key>
		<string>xiaoluo_laladui</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304f1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>yes sir</string>
		<key>fileName</key>
		<string>xiaoluo_huanying</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304eb</string>
	</dict>
</array>
</plist>
