<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>good</string>
		<key>fileName</key>
		<string>good</string>
		<key>fileId</key>
		<string>577f5c7ee4b0ae780b86ed4f</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hello</string>
		<key>fileName</key>
		<string>hello</string>
		<key>fileId</key>
		<string>577f5d71e4b0ae780b8825d2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK</string>
		<key>fileName</key>
		<string>OK</string>
		<key>fileId</key>
		<string>577f5e0fe4b0ae780b88f073</string>
	</dict>
	<dict>
		<key>name</key>
		<string>yeah</string>
		<key>fileName</key>
		<string>yeah</string>
		<key>fileId</key>
		<string>577f5e0fe4b0cabd1edc14e8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不好意思</string>
		<key>fileName</key>
		<string>不好意思</string>
		<key>fileId</key>
		<string>577f5c7fe4b0cabd1eda0392</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加油</string>
		<key>fileName</key>
		<string>加油</string>
		<key>fileId</key>
		<string>577f5d71e4b0ae780b882531</string>
	</dict>
	<dict>
		<key>name</key>
		<string>发红包</string>
		<key>fileName</key>
		<string>发红包</string>
		<key>fileId</key>
		<string>577f5c7ee4b0cabd1eda0364</string>
	</dict>
	<dict>
		<key>name</key>
		<string>合作愉快</string>
		<key>fileName</key>
		<string>合作愉快</string>
		<key>fileId</key>
		<string>577f5d71e4b0cabd1edb3479</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哭</string>
		<key>fileName</key>
		<string>哭</string>
		<key>fileId</key>
		<string>577f5e0fe4b0cabd1edc1492</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大笑</string>
		<key>fileName</key>
		<string>大笑</string>
		<key>fileId</key>
		<string>577f5c7ee4b0ae780b86ed77</string>
	</dict>
	<dict>
		<key>name</key>
		<string>好奇</string>
		<key>fileName</key>
		<string>好奇</string>
		<key>fileId</key>
		<string>577f5d71e4b0cabd1edb348b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>害羞</string>
		<key>fileName</key>
		<string>害羞</string>
		<key>fileId</key>
		<string>577f5d71e4b0ae780b882501</string>
	</dict>
	<dict>
		<key>name</key>
		<string>惊吓</string>
		<key>fileName</key>
		<string>惊吓</string>
		<key>fileId</key>
		<string>577f5d71e4b0ae780b8825e8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拜托</string>
		<key>fileName</key>
		<string>拜托</string>
		<key>fileId</key>
		<string>577f5c7fe4b0cabd1eda03c8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拜拜</string>
		<key>fileName</key>
		<string>拜拜</string>
		<key>fileId</key>
		<string>577f5c7fe4b0ae780b86ed8b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>请多指教</string>
		<key>fileName</key>
		<string>请多指教</string>
		<key>fileId</key>
		<string>577f5e0fe4b0ae780b88f08e</string>
	</dict>
</array>
</plist>
