<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>socialShare</key>
	<dict>
		<key>appIds</key>
		<array>
			<string>10078</string>
			<string>10088</string>
		</array>
	</dict>
</dict>
</plist>
