<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNo</key>
	<string>999</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>中海通</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KDWeibo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>light</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.kingdee.kdweibo11</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41A15B5C</string>
				<string>wx6515426b438c7520</string>
				<string>wb3318103260</string>
				<string>kdweibov4</string>
				<string>kdweiboavailable</string>
				<string>kdxt</string>
				<string>emp10200</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>KDWeibostartFileShare</string>
				<string>cloudhub</string>
				<string>KDWeibojoinFileShare</string>
				<string>kdwps</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.0.6</string>
	<key>Countly_Server</key>
	<string>http://pm1.yunzhijia.com</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cloudhub</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>KingsoftOfficeApp</string>
		<string>kdweibo</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>此App需要您的同意才能使用“日历”相关功能</string>
	<key>NSCameraUsageDescription</key>
	<string>此App需要您的同意才能读取相机权限</string>
	<key>NSContactsUsageDescription</key>
	<string>此App需要您的同意才能使用“通讯录”相关功能</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>本应用需要使用您的位置信息，否则将不能为了您提供定位相关的服务</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>本应用需要使用您的位置信息，否则将不能为了您提供定位相关的服务</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>此App需要您的同意才能使用“麦克风”相关功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>此App需要您的同意才能读取媒体资料库</string>
	<key>ProjectCode</key>
	<string>kaifa</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
