<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/account/</key>
	<array>
		<string>cloudPassport</string>
		<string>updateProfile</string>
		<string>updateProfileImage</string>
		<string>verifyCredentials</string>
		<string>verifyCredentialsWithDomain</string>
		<string>resetPassordWithEmail</string>
		<string>getCodeWithPhone</string>
		<string>verifyCodeWithSerial</string>
		<string>resetAccountPassword</string>
		<string>setPassword</string>
		<string>checkHasSetPassword</string>
	</array>
	<key>/ab/</key>
	<array>
		<string>recentlyListSimple</string>
		<string>memberListSimple</string>
		<string>favoritedListSimple</string>
		<string>searchListSimple</string>
		<string>favorite</string>
		<string>unfavorite</string>
		<string>personByUserId</string>
	</array>
	<key>/admin/</key>
	<array>
		<string>registerAccount</string>
		<string>activeUser</string>
		<string>registerCodeInfo</string>
		<string>quickValidate</string>
	</array>
	<key>/auth/</key>
	<array>
		<string>accessToken</string>
		<string>webLoginToken</string>
	</array>
	<key>/client/</key>
	<array>
		<string>uploadCrashReport</string>
		<string>shareUpdates</string>
		<string>checkUpdates</string>
		<string>storeDevice</string>
		<string>removeDevice</string>
		<string>userApplications</string>
		<string>applicationAccessToken</string>
	</array>
	<key>/dm/</key>
	<array>
		<string>addParticipant</string>
		<string>dm</string>
		<string>newMessage</string>
		<string>more</string>
		<string>newMulti</string>
		<string>reply</string>
		<string>sent</string>
		<string>upload</string>
		<string>threadById</string>
		<string>threadByIdAddParticipant</string>
		<string>threadMessages</string>
		<string>threadByIdNewMessage</string>
		<string>threads</string>
		<string>threadParticipants</string>
		<string>threadsMore</string>
		<string>threadsNew</string>
		<string>updateSubject</string>
		<string>deleteThreadById</string>
		<string>topThreadById</string>
		<string>cancelTopThreadById</string>
		<string>topThreads</string>
		<string>deleteParticipant</string>
		<string>quitThread</string>
	</array>
	<key>/todo/</key>
	<array>
		<string>list</string>
		<string>updateStatus</string>
	</array>
	<key>/inbox/</key>
	<array>
		<string>messages</string>
	</array>
	<key>/event/</key>
	<array>
		<string>event</string>
		<string>message</string>
		<string>send</string>
		<string>pubOpen</string>
		<string>msgRead</string>
	</array>
	<key>/favorites/</key>
	<array>
		<string>favorites</string>
		<string>create</string>
		<string>destoryById</string>
		<string>destoryBatch</string>
	</array>
	<key>/friendships/</key>
	<array>
		<string>create</string>
		<string>createById</string>
		<string>destroy</string>
		<string>destroyById</string>
		<string>exists</string>
		<string>show</string>
	</array>
	<key>/group/</key>
	<array>
		<string>details</string>
		<string>joined</string>
		<string>list</string>
		<string>members</string>
	</array>
	<key>/group/statuses/</key>
	<array>
		<string>comment</string>
		<string>counts</string>
		<string>destroyById</string>
		<string>periodTimeline</string>
		<string>periodTimelineByCursor</string>
		<string>repost</string>
		<string>showById</string>
		<string>timeline</string>
		<string>timelineByCursor</string>
		<string>update</string>
		<string>upload</string>
		<string>uploadComment</string>
	</array>
	<key>/hot_blog/</key>
	<array>
		<string>comment</string>
		<string>forward</string>
	</array>
	<key>/like/</key>
	<array>
		<string>getLikers</string>
		<string>like</string>
		<string>counts</string>
		<string>create</string>
		<string>destoryById</string>
		<string>destroyBatch</string>
	</array>
	<key>/network/</key>
	<array>
		<string>list</string>
		<string>selectByDomain</string>
		<string>teamInvitations</string>
		<string>applyJoinTeam</string>
		<string>processTeamInvitation</string>
		<string>createTeam</string>
		<string>searchTeam</string>
		<string>cancelApplying</string>
		<string>applyingTeams</string>
		<string>inviteToTeam</string>
		<string>teamSignOut</string>
		<string>tree_list</string>
		<string>getInvitationURL</string>
		<string>isNeedNextAdmin</string>
		<string>getInvitePersonInfo</string>
	</array>
	<key>/share/</key>
	<array>
		<string>add</string>
		<string>count</string>
		<string>login</string>
	</array>
	<key>/statuses/</key>
	<array>
		<string>comment</string>
		<string>commentById</string>
		<string>comments</string>
		<string>commentsByCursor</string>
		<string>commentByMe</string>
		<string>commentDestory</string>
		<string>commentsTimeline</string>
		<string>commentsToMe</string>
		<string>counts</string>
		<string>destoryById</string>
		<string>followers</string>
		<string>followersById</string>
		<string>forwards</string>
		<string>friends</string>
		<string>friendsById</string>
		<string>friendsTimeline</string>
		<string>friendsTimelineByCursor</string>
		<string>mentions</string>
		<string>publicTimeline</string>
		<string>hotComments</string>
		<string>bulletins</string>
		<string>reply</string>
		<string>repost</string>
		<string>resetCount</string>
		<string>retweetById</string>
		<string>search</string>
		<string>showById</string>
		<string>unread</string>
		<string>update</string>
		<string>upload</string>
		<string>uploadComment</string>
		<string>userTimeline</string>
		<string>userTimelineByCursor</string>
		<string>timelineById</string>
		<string>sharesigninupload</string>
		<string>sharesignin</string>
		<string>gettaskcomment</string>
		<string>getTaskCommentCount</string>
		<string>saveTaskComment</string>
	</array>
	<key>/trends/</key>
	<array>
		<string>has_followed</string>
		<string>trends</string>
		<string>listDefault</string>
		<string>all</string>
		<string>daily</string>
		<string>destroy</string>
		<string>detail</string>
		<string>follow</string>
		<string>fresh</string>
		<string>month</string>
		<string>recently</string>
		<string>statuses</string>
		<string>weekly</string>
		<string>search</string>
	</array>
	<key>/users/</key>
	<array>
		<string>feedback</string>
		<string>followedTopicNumber</string>
		<string>members</string>
		<string>search</string>
		<string>show</string>
		<string>showById</string>
		<string>alreadyInvitedPerson</string>
		<string>frequentAtContacts</string>
		<string>frequentDMContacts</string>
		<string>wake</string>
	</array>
	<key>/vote/</key>
	<array>
		<string>resultById</string>
		<string>vote</string>
		<string>share</string>
		<string>voteLatest</string>
	</array>
	<key>/upload/</key>
	<array>
		<string>uploadVideo</string>
		<string>multipleDoc</string>
	</array>
	<key>/task/</key>
	<array>
		<string>taskById</string>
		<string>list</string>
		<string>create</string>
		<string>convertWithComment</string>
		<string>convertWithStatus</string>
		<string>convertWithDirectMessage</string>
		<string>update</string>
		<string>finish</string>
		<string>cancelfinishtasknew</string>
		<string>removetasknew</string>
	</array>
	<key>/signId/</key>
	<array>
		<string>signInFeedback</string>
		<string>getAttendAdminRole</string>
		<string>saveAttendanceSetAdvanced</string>
		<string>getAttendanceSetAdvanced</string>
		<string>checkHasAttSetGroup</string>
		<string>findAttendSet4Edit</string>
		<string>saveSignInPoint</string>
		<string>setSignInGroup</string>
		<string>getSignInGroupList</string>
		<string>setSignInFeedbackSetting</string>
		<string>getSignInFeedbackSetting</string>
		<string>resign</string>
		<string>getSignList</string>
		<string>sign</string>
		<string>deleteSign</string>
		<string>getSelectedShareGroups</string>
		<string>deleteShareGroup</string>
		<string>getSelectedAndDeSelectedGroups</string>
		<string>updateSignInRangeShare</string>
		<string>checkHasSetPoint</string>
		<string>relationWifiWithAttendSet</string>
		<string>notifyNetworkAfterRelation</string>
		<string>notifyNetworkAfterAddAttendSet</string>
		<string>setClockinRremind</string>
		<string>getClockinRremind</string>
		<string>notifyAdminAsNoAttendSet</string>
		<string>listAttendanceSets</string>
		<string>saveOrUpdateAttendSet</string>
		<string>deleteAttendanceSet</string>
		<string>bindingDevice</string>
		<string>findAttendSet4Edit</string>
		<string>isWiFiClockInAvaliable</string>
		<string>updateClockIn</string>
		<string>getAttendanceSetInfo</string>
		<string>getRemindList</string>
		<string>setRemind</string>
	</array>
	<key>/rest/</key>
	<array>
		<string>getConfigInfo</string>
		<string>postConfigInfo</string>
	</array>
	<key>/infocollect/</key>
	<array>
		<string>contact</string>
		<string>phone</string>
		<string>wifi</string>
	</array>
</dict>
</plist>
